[Unit]
Description=rtorrent Service
After=network.target

[Service]
Type=oneshot
User=%i
RemainAfterExit=yes
KillMode=None
ExecStart=/usr/bin/tmux new-session -s rtorrent -n rtorrent -d rtorrent
ExecStop=/usr/bin/stmux send-keys -t rt:rtorrent C-q
WorkingDirectory=/home/%I/

[Install]
WantedBy=multi-user.target
